@import url('https://fonts.googleapis.com/css?family=Arapey');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  color: #0d49a3;
}

.readability-app {
  padding-top: 40px;
}

a {
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  outline: 0;
  color: #0d49a3;
}
a:hover {
  outline: 0;
  outline: 0 !important;
  outline-style: none;
  color: #ff3535;
  text-decoration: none !important;
}
a:focus {
  outline: 0;
  outline: 0 !important;
  outline-style: none;
  color: #7e0a80;
  text-decoration: none !important;
  outline: thin dotted #333333;
  outline: 5px auto -webkit-focus-ring-color;
}

.category-name {
  text-transform: capitalize;
}

.meta {
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
  margin-bottom: 30px;
}

.categoryName {
  margin-left: 5px;
  margin-right: 5px;
  text-transform: capitalize !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arapey', serif;
}

input,
textarea {
  font: 11px system-ui;
  border: none !important;
  border-bottom: 1px dashed #999 !important;
  border-radius: 0px !important;
}

select {
  font: 11px system-ui;
  border: none !important;
  border-bottom: none !important;
  border-radius: 0px !important;
  text-transform: capitalize !important;
}

.form-group {
  margin-bottom: 3rem !important;
}

.modal-backdrop {
  background-color: #fff !important;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0rem !important;
  background-color: #0d49a3 !important;
  color: #fff;
}

.modal-header {
  border-bottom: 1px solid #3655ac;
}

.modal-footer {
  border-top: 1px solid #3655ac;
}
